/section-2/Excercise2/nbproject/private/
/section-2/Excercise2/build/
/section-2/Excercise2/dist/
/Excercise1/build/
/Excercise1/dist/
/Excercise1/nbproject/private/
/section-2/Excercise1/build/
/section-2/Excercise1/dist/
/section-2/Excercise1/nbproject/private/
/section-2/Excercise/build/
/section-2/Excercise/dist/
/section-2/Excercise3/nbproject/private/
/section-2/Excercise3/build/
/section-2/Excercise4/nbproject/private/
/section2/Excercise1/nbproject/private/
/section2/Excercise1/build/
/section2/Excercise2/nbproject/private/
/section2/Excercise2/build/
/section2/Excercise3/nbproject/private/
/section2/Excercise3/build/
/section2/Excercise4/nbproject/private/
/section2/Excercise4/build/
